
<!DOCTYPE html>
<html>
  <head>
    <title>Kube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
    <%= render 'layouts/header' %>
    <br>
    <body>
      <div class="container">
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type} warning alert-dismissible fade show") %>
      </div>
      <% end %>
      <%= yield %>
        <%= render 'layouts/footer' %>

  </body>


</html>
